.center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mtb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}