body {
    font-family: 'Poppins', sans-serif !important;
}

.center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mtb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.error-label {
    color: red;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
}

.success-label {
    color: greenyellow;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
}

.validation-errors {
    padding: 20px;
}

.validation-errors > .row > span {
    color: red;
    font-weight: 700;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
}

.display-block {
    display: block;
}

.listbox-medium {
    height: 800px;
    width: 500px;
    max-width: unset;
}